<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder="Search by Author Name" value=search}}
  </div>

  <LinkTo @route="author.create" @class="btn-new">
    <div class="sr-only">Add new Author</div>
  </LinkTo>
</div>

<div class="panel-content">
  <h3 class="panel-title">Authors</h3>

  {{#if this.isLoading}}
    <div class="welcome-page">
      <img src="/loading.gif" alt="">
    </div>
  {{else}}
    {{#if this.isError}}
      <div class="welcome-page">
        <img src="/error.gif" alt="Error">
        {{#if this.error}}
          <h2>Error: {{this.error}}</h2>
        {{/if}}
      </div>
    {{else}}
      <ul class="collection">
        {{#each this.model as |author|}}
          <li>
            <AuthorItem
              @firstName={{author.firstName}}
              @lastName={{author.lastName}}
              @authorId={{author.id}}
              class="author"
              title="{{author.lastName}}"
            />
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}
</div>

{{outlet}}