<div class="panel-heading">
  <div class="search">
    <Input @type="text" placeholder="Search by Title or ISBN" @value={{this.search}} />
  </div>

  {{#link-to "book.create" class="btn-new"}}
    <div class="sr-only">Add new Book</div>
  {{/link-to}}
</div>

<div class="panel-content">
  <h3 class="panel-title">Books</h3>

  {{#if this.isLoading}}
    <div class="welcome-page">
      <img src="/loading.gif" alt="Error">
    </div>
  {{else}}
    <ul class="collection">
      {{#each this.model as |book|}}
        <li>
          <BookItem @title={{book.title}} @isbn={{book.isbn}} @bookId={{book.id}} />
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{liquid-outlet class="slide-container"}}